.drawer-content {
  box-sizing: border-box;
  overflow: hidden;

}

.BlockStyle {
  width: 52px;
  height: 52px;
  background: #1677ff;
  border-radius: 4px 0px 0px 4px;

  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;

  box-shadow: -2px 0 8px rgba(0 0 0, 0.15);
  position: absolute;
  left: -52px;
  z-index: 99999;
  bottom: 70px;


}

.BlockStyle:hover {

  width: 127px;
  left: -127px;

}

.BlockSpanStyle {
  font-size: 14px;

  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
  position: absolute;
  right: 53px;
  top: 50%;
  margin-top: -11px;
}

.BlockIconStyle {
  font-size: 24px;
  width: 24px;
  height: 24px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  position: absolute;
  right: 12px;
  top: 50%;

  margin-top: -12px;
}

.CloseImgWrap {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.BannerLine {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  padding-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.BzzxText {
  font-size: 16px;

  font-weight: 500;
  color: #000000;
  line-height: 24px;
  flex: 1;
}

.ArtItemWrap {
  overflow-y: auto;
  max-height: calc(100% - 56px);


}

.ArtItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 84px;
  padding: 0 24px 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.ArtItemTitle {
  font-size: 14px;
  flex: 1;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  line-height: 20px;
  position: relative;


}

.ArtItemTitle ::before {
  content: "";
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  left: -16px;
  top: 50%;
  margin-top: -3px;
}

.HandleImg {
  width: 24px;
  height: 24px;
  opacity: 1;
  vertical-align: top;
}

.ArtRightArrow {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  vertical-align: top;
}